/* Stack Gambar */
.image-stack {
    position: relative;
    width: 300px;
    /* Sesuaikan lebar dengan kebutuhan Anda */
    height: 480px;
    /* Sesuaikan tinggi dengan kebutuhan Anda */
}

.image-stack img {
    position: absolute;
    top: 0;
    left: 0;
}

.image-stack img:nth-child(1){
    top: 70px;
    left: 184px;
}

.image-stack img:nth-child(2) {
    top: 180px;
    left: 500px;
    z-index: 1;
}

.image-stack img:nth-child(3) {
    top: 5px;
    left: 600px;
    z-index: 2;
}

.desc {
    position: relative;
    width: 600px;
    left: 400px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/* footer */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 250px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    margin-right: 10px;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
}
